
/*====== General =======*/

:root {
    --c-orange: #f58220;
    --c-gray: #42515a;
    --c-white: #fff;
    --f-titillium: 'Titillium Web', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--f-titillium);
}

h1 {
    color: var(--c-white);
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    text-transform: capitalize;
}

.wrapp {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: transparent;
}
/*========== Header ============*/

header {
    width: 100%;
    background-image: url(../img/bg_body.png);
    border-bottom: 3px solid var(--c-orange);
}

header .wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.nav-head a {
    padding: 5px 10px;
    font-size: 1.2em;
    color: var(--c-gray);
}

.nav-head a:hover {
    color: var(--c-orange);
}

.nav-head>a {
    position: relative;
}

.nav-head>a:hover:after,
.nav-head>a.active:after,
.nav-head>div>a:hover:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--c-orange);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.nav-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-up a img {
    padding: 5px;
}

.nav-up input[type=text] {
    border: none;
    padding: 5px 0;
    background-image: url(../img/btn_search.png);
    background-repeat: no-repeat;
    background-position: 140px 7px;
    background-size: 16px 16px;
    font-size: 1.1em;
    width: 170px;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
}

.phone {
    background-color: var(--c-orange);
    padding: 10px 20px;
    color: var(--c-white);
}

.phone:hover {
    color: var(--c-gray);
}

.phone span {
    color: var(--c-gray);
    margin-right: 3px;
}
/*========= Main ===============*/
main .wrapp {
    overflow: hidden;
}

main {
    background-image: url("../img/wells_background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

main h1 {
    text-align: center;
    padding: 50px 0;
}

.h2-cnt {
    padding: 0 110px;
    text-transform: uppercase;
}
/*======== Section one ============*/

.section-1-home {
    display: flex;
    flex-direction: row;
    margin-top: -6px;
    background-color: var(--c-white);
}

.info {
    flex-basis: 33%;
    text-align: center;
    padding-bottom: 50px;

}

.info h2 {
    padding: 20px;
    color: var(--c-orange);
}

.info p {
    padding: 0 40px;
    color: var(--c-gray);
}

/*=========== Section one - Services ==============*/

.brick {
    margin-top: 200px;
    background-image: url(../img/bg_title.png);
    background-repeat: no-repeat;
    padding: 65px;
    position: relative;
}

.h-brick {
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.section-1-serv {
    width: 100%;
    margin-top: -3px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    padding: 7px;
}

.box {
    padding: 20px;
    padding-bottom: 50px;
    color: var(--c-white);
}

.box h2 {
    padding-right: 100px;
    margin-bottom: 10px;
}

.box1 {
    background-color: var(--c-gray);
}

.box2 {
    background-color: #85929a;
}

.box3 {
    background-color: #ba6906;
}

.box3 h2,
.box4 h2 {
    width: 70%;
}

.box4 {
    background-color: var(--c-orange);
}
/*========== Section two =================*/

.section-2-home {
    background-image: url(../img/home_content.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2-home p {
    text-align: center;
    padding: 100px;
    color: var(--c-white);
}